<div class="bg-white">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Danh sách các bài viết</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">Tổng hợp kiến thức và chia sẻ kinh nghiệm.</p>
      </div>
      <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200  lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <ul>
            <li><a href="https://devtestsharing.com/bai-viet/nhung-luu-y-khi-kiem-thu-phan-mem-tieng-Nhat" class="underline cursor-pointer">Những lưu ý khi kiểm thử phần mềm tiếng Nhật</a></li>
            <li><a href="https://devtestsharing.com/bai-viet/check-for-empty-guid-in-sql-server" class="underline cursor-pointer">Check for empty GUID in SQL server</a></li>
            <li><a href="https://devtestsharing.com/bai-viet/cach-thiet-lap-bootstrap-trong-angular" class="underline cursor-pointer">Cách thiết lập Bootstrap trong Angular</a></li>
            <li><a href="https://devtestsharing.com/bai-viet/so-sanh-abstract-class-va-interface" class="underline cursor-pointer">So sánh Abstract class và Interface</a></li>
            <li><a href="https://devtestsharing.com/bai-viet/su-khac-nhau-giua-browser-command-va-webelement-command-mot-so-lenh-thuong-dung-o-moi-loai" class="underline cursor-pointer">Sự khác nhau giữa Browser command và WebElement command? Một số lệnh thường dùng ở mỗi loại.</a></li>
            <li><a href="https://devtestsharing.com/bai-viet/toi-uu-performance-trong-angular" class="underline cursor-pointer">Tối ưu performance trong angular</a></li>
            <li><a href="https://devtestsharing.com/bai-viet/memory-leak-trong-csharp" class="underline cursor-pointer">Memory leak trong c#</a></li>
            <li><a href="https://devtestsharing.com/bai-viet/cac-nguyen-ly-thiet-ke-he-thong-p1" class="underline cursor-pointer">Các nguyên lý thiết kế hệ thống - phần 1</a></li>
            <li><a href="https://devtestsharing.com/bai-viet/cac-nguyen-ly-thiet-ke-he-thong-p2" class="underline cursor-pointer">Các nguyên lý thiết kế hệ thống - phần 2</a></li>
            <li><a href="https://devtestsharing.com/bai-viet/istqb-agile-tester-agile-software-development" class="underline cursor-pointer">ISTQB Agile Tester - Agile Software Development</a></li>
            <li><a href="https://devtestsharing.com/bai-viet/istqb-agile-tester-fundamental-agile-testing-principles-practices-and-processes"  class="underline cursor-pointer">ISTQB Agile Tester - Fundamental Agile Testing Principles, Practices, and Processes</a></li>
        </ul>
         
      </div>

    </div>
  </div>
